
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Instituciones
        <small>Listado de Instituciones</small>
      </h1>
      
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        
        
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Instituciones </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" *ngIf="nullReg(); else sin" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Ruc</th>
                  <th>id</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let Institution of intitutions">
                  <td> {{ Institution.name }}</td>
                  <td> {{ Institution.ruc }} </td>
                  <td> {{ Institution.idInstitution }}</td>
                  
                </tr>
                
                </tbody>
               </table>
            
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      
        
    </section>
    <!-- /.content -->
  </div>

 